# Dependências
node_modules
/packages/*/node_modules

# Logs
logs
*.log

# Arquivos de build
dist
/packages/*/dist

# Cache
.pnpm-store

# Sistema Operacional
.DS_Store
Thumbs.db

# Env
.env
.env.*

# IDEs
.vscode/
.idea/
coverage/
packages/*/coverage/

.npmrc
